@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: end;
  /* padding: 120px 24px 160px 24px; */
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      rgb(203, 205, 208) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 52% 99%, #ffffff 0px, transparent 50%),
    radial-gradient(at 10% 29%, #efe35d 0px, transparent 50%),
    radial-gradient(at 97% 96%, rgb(255, 247, 233) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(228, 192, 74) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}
/* Tailwind Styles */

.app {
  @apply relative z-10 flex min-h-screen flex-col py-24;
}

.head_text {
  @apply mt-5 text-3xl md:text-6xl font-bold leading-[1.15] text-black text-center md:text-left;
}

.purpel_gradient {
  @apply bg-gradient-to-r from-[#6c152f] via-gray-600 to-[#585053] bg-clip-text text-transparent;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-3.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.icon {
  display: inline-block;
  width: 1.6em;
  height: 1em;
  line-height: 0;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  &.icon-search {
  mask-image: url('/assets/icons/search.png');
  }

   &.icon-home {
    mask-image: url('/assets/icons/mobile-home.svg')
  }

  &.icon-menu {
    mask-image: url('/assets/icons/menu.svg')
  }

  &.icon-docs {
    mask-image: url('/assets/icons/mobile-docs.svg')
  }

  &.icon-forum {
    mask-image: url('/assets/icons/mobile-forum.svg')
  }

  &.icon-api {
    mask-image: url('/assets/icons/mobile-api.svg')
  }

  &.icon-user {
    mask-image: url('/assets/icons/mobile-user.svg')
  }

  &.icon-guest-profile {
    mask-image: url('/assets/icons/profile-login.svg')
  }
}

.animate {
  animation-delay: 0.25s;
  // animationDelay: 0.15s;
  animation-fill-mode: forwards;
}
.ce34512d1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 24px 0 0;
  padding: var(--spacing-3) 0 0 0;
}
.ce34512d1:after,
.ce34512d1:before {
  content: "";
  border-bottom: 1px solid rgb(187, 186, 186);
  flex: 1 0 auto;
  height: 0.5em;
  margin-top: 2.5px;
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ce34512d1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  padding: 24px 0 0;
  padding: var(--spacing-3) 0 0 0;
}
.ce34512d1:after,
.ce34512d1:before {
  content: "";
  border-bottom: 1px solid rgb(187, 186, 186);
  flex: 1 0 auto;
  height: 0.5em;
  margin-top: 2.5px;
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
